body{
    background-color: #121212;
}

*{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Adicione esta linha para centralizar verticalmente */
    flex-direction: column;
    height: 100vh; /* Isso faz com que o conteúdo ocupe toda a altura da viewport */
}

.highlight {
    
    color: #cf6679;
    font-weight: bold;
}

.highlight-2 {
    color: #bb86fc;
    font-weight: bold;
}

.button-box {
    display: flex;
    gap: 5px;
}

.button-box button {
    font-family: Helvetica, sans-serif onmouse;
    height: 30px;
    width: 125px;
    background: transparent;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: #bb86fc 2px solid;
    font-size: 14px;
    position: relative;
    box-shadow: 0 5px 0 #6200ee ;
    
}

button span {
    color: #bb86fc;
}

button::after{
    width: 0;
    height: 100%;
    background-color: #bb86fc;
    transition: all ease 200ms;
    position: absolute;
    top: 0;
    right: 0;
}

button span{
    position: relative;
    z-index: 1;
    transition: all ease 300ms;
}
button:hover span{
    color: #ffffff;
    transition: all ease 300ms;
}
button:hover::after{
    width: 100%;
}

button:hover {
    background-color:#bb86fc ;
} 


button:not(:hover) {
    transition: all ease 300ms;
}

button:active {
position: relative;
box-shadow: none;
top: 5px;
transition: none;
}